In [1]:
%matplotlib notebook

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
fruits = pd.read_table("Datasets/fruit_data_with_colors.txt")

In [5]:
fruits.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [6]:
X = fruits[['mass', 'width', 'height']]
y = fruits['fruit_label']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

    mass  width  height
26   362    9.6     9.2
35   150    7.1     7.9
43   194    7.2    10.3
28   140    6.7     7.1
11   172    7.1     7.6
2    176    7.4     7.2
34   142    7.6     7.8
46   216    7.3    10.2
40   154    7.1     7.5
22   140    7.3     7.1
4     84    6.0     4.6
10   166    6.9     7.3
30   158    7.1     7.5
41   180    7.6     8.2
33   190    7.5     8.1