In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
X1 = np.random.randn(5000)
X2 = np.random.randn(5000)

X1 = X1 + np.random.randint(0, 100, size = 5000)
X2 = X2 + np.random.randint(0,100, size = 5000)

In [14]:
data = pd.DataFrame([X1,X2], index = ['X1', 'X2']).T
data.head()

          X1         X2
0  14.063060  71.390928
1  11.100499  13.240379
2  63.812630  45.354365
3  46.609099  12.363796
4  60.118672  92.476817

In [16]:
data['y'] = (data['X1']*23) + (data['X2']*12) + 41
data.head()

          X1         X2            y
0  14.063060  71.390928  1221.141513
1  11.100499  13.240379   455.196034
2  63.812630  45.354365  2052.942871
3  46.609099  12.363796  1261.374831
4  60.118672  92.476817  2533.451243

In [20]:
X = data[['X1','X2']]
y = data['y']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [27]:
linreg = LinearRegression()

In [28]:
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
linreg.score(X_test, y_test)

#The model successfully predicted the equation 23(x1) + 12(x2) + 41 with 100% accuracy

1.0

In [37]:
linreg.predict(np.array([11.100499,13.240379]).reshape(1,-1))

array([455.196025])

In [38]:
data.iloc[3:4]

          X1         X2            y
3  46.609099  12.363796  1261.374831

In [42]:
data.append([[12,23,45]], ignore_index = True)

             X1         X2            y     0     1     2
0     14.063060  71.390928  1221.141513   NaN   NaN   NaN
1     11.100499  13.240379   455.196034   NaN   NaN   NaN
2     63.812630  45.354365  2052.942871   NaN   NaN   NaN
3     46.609099  12.363796  1261.374831   NaN   NaN   NaN
4     60.118672  92.476817  2533.451243   NaN   NaN   NaN
...         ...        ...          ...   ...   ...   ...
4996  39.845751  69.369183  1789.882457   NaN   NaN   NaN
4997  89.653814  34.897849  2521.811899   NaN   NaN   NaN
4998  72.886467  55.348843  2381.574862   NaN   NaN   NaN
4999  74.619008  26.420731  2074.285970   NaN   NaN   NaN
5000        NaN        NaN          NaN  12.0  23.0  45.0

[5001 rows x 6 columns]